.input-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.input-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.input-box input {
    height: 50px;
    width: 50px;
    border: none;
    outline: none;
    font-size: 20px;
    margin: 20px;
    text-align: center;
}

.timer-button {
    height: 40px;
    width: 100px;
    border: none;
    outline: none;
    background-color: purple;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}